<!DOCTYPE html>
<html>           
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet"/>

    <link rel = "stylesheet" href = "https://www.w3schools.com/lib/w3.css">
   

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
      <style>
      @import url("https://fonts.googleapis.com/css?family=Mulish:400,400italic,700,600");
  
  body {font-family: "mulish", sans-serif;background: #E5E5E5;font-family: mulish;}
  #top
{
  
  background: url("/static/img/Tanzania.png");
  background-size: contain;

  
}
  

.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    color:black;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    margin-top: 5px;
  }
  #srvtd {
  text-align: left;
  padding: 16px;

}
#srv{
  text-align: left;
  padding: 16px;
    font-size:20px;
    font-weight: 700px;
}
</style>
</head>
   
   <body>
    
    <div class="sidebar" style="width: 220px;border: 0.5px solid gray; box-shadow: 0.3px 0.3px gray;">
    <!-- <a href="#home"><i class="fa fa-fw fa-home"></i> Home</a> -->
    <div class="container" style="">
      <div class="row">
        <div><img src="/static/img/CHI_logo.png" style="background:#FF9800;height: 35px;width: 30px;
          border-radius: 0px;margin-top: px;padding-top: 0px;border-radius:45%;"></div>
      <div style="margin-top:-4px;padding-left: 7px;"> <b>  <span style="font-size: 16px;font-weight: 700;"> Celeste Health</span> </b> <br><span style="font-size: 11px;">Healthcare is a Right</span></div> 
      </div>
    </div><p></p>
    <div style="font-size: 13px;" id="navbar">
     
    <a href="#services" style="font-size: 15px;color:#4F4F4F;font-weight: 500;padding-top: -30px;"></i><i class="fa fa-fw fa-folder"></i> 
      
      <a href="#demo10" class="btn btn-primary" data-toggle="collapse" style="background:white;color:black;border:none;padding-top:0px;font-size: 14px;margin-top: -29px;margin-left:-80px;">Projects</a>
      <div id="demo10" class="collapse">
        <ul class="list-group">
       <li class="list-group-item" background> <a href="#" style="height:10px;line-height:5px;font-size: 12px;">Menstrual Hea...</a>
        <li class="list-group-item"><a href="#" style="height:10px;line-height:5px;font-size: 12px;">HIV/AIDS... </a></li>
        <li class="list-group-item"><a href="#" style="height:10px;line-height:5px;font-size: 12px;">Water Conser...</a></li></li>
      </div>
      
      
      </a>
    <a href="#clients" style="font-size: 15px;color:#4F4F4F;font-weight: 7500;"><i class="fa fa-fw fa-users"></i> Patients</a>
    <a href="#contact" style="font-size: 15px;color:#4F4F4F;font-weight: 500;"><i class="fa fa-fw fa-envelope"></i> Surveys</a>
    <a href="#contact" style="font-size: 15px;color:#4F4F4F;font-weight: 500;"><i class="fa fa-fw fa-address-book"></i> Feedback</a>
    <a href="#contact" style="font-size: 15px;color:#4F4F4F;font-weight: 500;"><i class="fa fa-fw fa-ambulance"></i> Help</a>
    </div>
  </div>
         
          
     
           <p></p>
           <p></p>
        <!---->
        
   
        <h2 style="color:#302F2E;margin-left: 250px;">Projects</h2>
    <!---->
 <div id="top" style="border:7px solid white;border-color:white;margin-left: 250px;height:400px;width: 1000px;filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));border-radius: 4px;">
    <div class="container" style="margin-left: 20px;border:none;">
      <div class="card" style="margin-top:20px;width:500px;box-shadow: 5px 10px 18px #888888;">
      
        <a href="#demo" class="btn btn-info" data-toggle="collapse" style="background:white;color:black;border-color:white;width:480px;text-align: left;border: none;"> <span style="font-weight: 700;font-size: 16px;"><b>Menstrual Health Management</b></span><small style="float:right;padding-top: 5px;"> Tanzania, Africa</small></a>
        <div id="demo" class="collapse" style="width:500px;border:none;">
         <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker" style="border:none;border-top: none;border-left: none;" >
       <span style="margin-left: 10px;font-size: 12px;font-weight: 600;">Start Date: Sept 5 2021</span>
       
       </div>
        <span style="margin-left: 10px;font-size: 12px;font-weight: 600;"> Project Progress:</span>
         <div class="progress" style="height:30px;border:none;background-color:#FFDEB2;width:480px;margin-left: 10px;">
            <div class="progress-bar bg-warning" style="width:75%;border:none">16/25
       </div>
     
       </div>
       <button type="button" class="btn btn-primary" style="color:#00B8D4;background-color:#d8ecf3 ;border: none;border-radius: 5%;margin-bottom: 10px;height:20px;line-height:10px;width:60px;margin-left:10px;">Health</button>
     <button type="button" class="btn btn-primary" style="color:#00B8D4;background-color: #d8ecf3 ;border: none;border-radius: 5%;margin-bottom: 10px;height:20px;line-height:10px;width:80px;margin-left: 10px;">Research</button>
     <button type="button" class="btn btn-primary" style="color:#00B8D4;background-color: #d8ecf3 ;border: none;border-radius: 5%;margin-bottom: 10px;height:20px;line-height:10px;width:90px;margin-left: 10px;;">Education</button> 
     
     <a href="#" style="float:right;color:#00B8D4;margin-right: 10px;padding-top: 3px;font-size: 14px;font-weight: 700;"> &nbsp; <b><Span style="font-weight: 800;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
      <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
      </svg>
     </Span></b></a>
     
      </div>
     </div>
     
    
    
    
     
    </div>
 </div>
    
  


   <!--  <h2 style="margin-left:250px;">My Projects</h2>

    <div class="container" style="margin-left: 250px;">
         <div class="row">
            <div class="card" style="width: 32rem;margin-left: 10px;box-shadow: 5px 10px 18px #888888;height: 310px;">
                <img class="card-img-top" src="https://images.pexels.com/photos/9882049/pexels-photo-9882049.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap" style="height:130px ;">
                <button class="btn btn-primary" style="width: 115px;margin-left: 200px;margin-top: -30px;">
                    <span class="spinner-border spinner-border-sm"></span>
                    In-Progress
                  </button></img>
                <div class="card-body" style="height: 120px;">
                   <h5 class="card-title" style="font-weight: 700;font-size: 20px;">Menstrual Health Management</h5>
                <p class="card-text">Short Description of a Project</p>
                <div class="row" style="margin-left: 10px;">
                    <a href="#" class="card-link">Health </a>
                    <a href="#" class="card-link">Education</a>
                    <div class="dropdown">
                      <button class="btn btn-primary" type="button" data-toggle="dropdown" style="background:white;color:black;border:none;display: flex;justify-content:right;margin-left:100px;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Remove</a></li>
                        <li><a href="#">Update</a></li>
                        <li><a href="#">Go To Project</a></li>
                      </ul>
                    </div>
                    </div>
                </div>
              </div>
              
              <div class="card" style="width: 32rem;margin-left: 10px;box-shadow: 5px 10px 18px #888888;height: 310px;">
                <img class="card-img-top" src="https://images.pexels.com/photos/3954300/pexels-photo-3954300.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap" style="height:130px ;">
                <button class="btn btn-primary" style="width: 115px;margin-left: 200px;margin-top: -30px;">
                    <span class="spinner-border spinner-border-sm"></span>
                    In-Progress
                  </button></img>
                <div class="card-body" style="height: 120px;">
                   <h5 class="card-title" style="font-weight: 700;font-size: 20px;">Women's Health Toolkit</h5>
                <p class="card-text">Short Description of a Project</p>
                <div class="row" style="margin-left: 10px;">
                    <a href="#" class="card-link">Health </a>
                    <a href="#" class="card-link">Education</a>
                    <div class="dropdown">
                      <button class="btn btn-primary" type="button" data-toggle="dropdown" style="background:white;color:black;border:none;display: flex;justify-content:right;margin-left:100px;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Remove</a></li>
                        <li><a href="#">Update</a></li>
                        <li><a href="#">Go To Project</a></li>
                      </ul>
                    </div>
                    </div>
                </div>
              </div>

              <div class="card" style="width: 32rem;margin-left: 10px;box-shadow: 5px 10px 18px #888888;height: 310px;">
                <img class="card-img-top" src="https://images.pexels.com/photos/7602954/pexels-photo-7602954.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="Card image cap" style="height:130px ;">
                <button class="btn btn-primary" style="width: 115px;margin-left: 200px;margin-top: -30px;">
                    <span class="spinner-border spinner-border-sm"></span>
                    In-Progress
                  </button></img>
                <div class="card-body" style="height: 120px;">
                   <h5 class="card-title" style="font-weight: 700;font-size: 20px;">HIV/AIDS+ First-Aid Training</h5>
                <p class="card-text">Short Description of a Project</p>
                <div class="row" style="margin-left: 10px;">
                    <a href="#" class="card-link">Health </a>
                    <a href="#" class="card-link">Education</a>
                    <div class="dropdown">
                      <button class="btn btn-primary" type="button" data-toggle="dropdown" style="background:white;color:black;border:none;display: flex;justify-content:right;margin-left:100px;">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"/>
                    </svg></button>
                      <ul class="dropdown-menu">
                        <li><a href="#">Remove</a></li>
                        <li><a href="#">Update</a></li>
                        <li><a href="#">Go To Project</a></li>
                      </ul>
                    </div>
                    </div>
                </div>
              </div>
              

       </div>
        </div>
    </div>

            
          

        </div>
    </div>
  -->

    <h2 style="margin-left: 240px;">Tasks</h2>

    <div class="container-fluid" style="display: flex;">
      <div class="row">
        <div class="col-sm-6" style="margin-left: 230px;width:75rem;">
          <ul class="list-group">
        
            <li class="list-group-item" style="padding-left:10px;"> 
            <input placeholder="Search Employee Directory" style="width:200px;border:none;background: #E5E5E5;border-radius: 4px;height:30px;width:"></input>
            <a href="#" style="margin-left:20px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
              <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
              <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
            </svg> All Tasks</button> <a href="#" style="margin-left:20px;"> See More Tasks</a>
            
            </li>
            <li class="list-group-item" style="padding-left:20px;">   
            <input type="checkbox" class="form-check-input" value="" style="height:15px;width:15px;margin-top:10px;">
            <span style="margin-left:25px;">Work on the Development of Figma Screens <small style="display:fles;float:right;">Due Date:12/21/21</small></span><p style="margin-left:25px;">Assigned to <b>IT Team</b><p>
            
            
            </li>
            
            <li class="list-group-item" style="padding-left:20px;">   
            <input type="checkbox" class="form-check-input" value="" style="height:15px;width:15px;margin-left:px;margin-top:10px;">
            <span style="margin-left:25px;">Add data to the Surveys <small style="display:fles;float:right;">Due Date:12/21/21</small></span><p style="margin-left:25px;">Assigned to <b>IT Team</b><p>
            
            
            </li>
            <li class="list-group-item" style="padding-left:20px;">   
            <input type="checkbox" class="form-check-input" value="" style="height:15px;width:15px;margin-left:px;margin-top:10px;color:#888888">
            <span style="margin-left:25px;">Review New Screens for the Website <small style="display:fles;float:right;">Due Date:12/21/21</small></span><p style="margin-left:25px;">Assigned to <b>IT Team</b><p>
            
            
            </li>
            <li class="list-group-item" style="padding-left:20px;">   
            <input type="checkbox" class="form-check-input" value="" style="height:15px;width:15px;margin-left:px;">
            <span style="margin-left:25px;">Review New Screens for the Website <small style="display:fles;float:right;">Due Date:12/21/21</small></span><p style="margin-left:25px;">Assigned to <b>IT Team</b><p>
            
            
            </li>
            <li class="list-group-item" style="padding-left:20px;"> 
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16" style="color:#CDCDCD;height:25px;width:25px;">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg><span style="color:#CDCDCD;margin-left:10px;">Type To Add New Task</span>

            </li> 
            
                
              </ul>
          
       </div>
      </div>
    <h2 style="margin-top:-30px;margin-left:-230px;">Project Outline</h2>

   <!--<div class="col-sm-6" style="margin-left:20px;">
           <div class="card">
            <iframe
                  
           src="https://www.figma.com/embed?embed_host=astra&url=\
       https://www.figma.com/file/LKQ4FJ4bTnCSjedbRpk931/Sample-File"/>
            
           </div>

      </div>-->

    </div>
    <h2 style="margin-left: 250px;">Surveys</h2>
    <div class="container" style="margin-left: 235px;width:1020px;">
  
      <div class="card" style="box-shadow: 5px 10px 30px #888888;"> 
        <div class="row">
       <ul class="list-group" style="border:none;padding-left:40px;">
         <li class="list-group-item " style="border:none;"><b>Survey</b></li>
         <li class="list-group-item" style="border:none;">Monthly Menstrual Screen</li>
         
         <li class="list-group-item" style="border:none;">Menstrual Hygiene</li>
         <li class="list-group-item" style="border:none;">Sanitary Products</li>
       </ul>
        <ul class="list-group" style="padding-left:40px;">
         <li class="list-group-item "  style="border:none;"><b>Responses</b></li>
         <li class="list-group-item" style="border:none;">240</li>
         
         <li class="list-group-item" style="border:none;">350</li>
         <li class="list-group-item" style="border:none;">179</li>
       </ul>
        <ul class="list-group" style="padding-left:40px;">
         <li class="list-group-item "  style="border:none;"><b>Target</b></li>
         <li class="list-group-item" style="border:none;">500</li>
         
         <li class="list-group-item" style="border:none;">500</li>
         <li class="list-group-item" style="border:none;">500</li>
       </ul>
       <ul class="list-group" style="padding-left:40px;">
         <li class="list-group-item "  style="border:none;"><b>Start</b></li>
         <li class="list-group-item" style="border:none;">24-01-2021</li>
         
         <li class="list-group-item" style="border:none;">24-01-2021</li>
         <li class="list-group-item" style="border:none;">24-01-2021</li>
       </ul>
       <ul class="list-group" style="padding-left:40px;">
         <li class="list-group-item "  style="border:none;"><b>End</b></li>
         <li class="list-group-item" style="border:none;">24-01-2021</li>
         
         <li class="list-group-item" style="border:none;">24-01-2021</li>
         <li class="list-group-item" style="border:none;">24-01-2021</li>
       </ul>
       <ul class="list-group" style="padding-left:20px;">
         <li class="list-group-item "  style="border:none;"><b><p></p><p></p></b></li>
         <li class="list-group-item" style="border:none;padding-top:20px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16" style="color:#00B8D4;">
          <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
        </svg>
         </li>
         
         <li class="list-group-item" style="border:none;padding-top:10px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16" style="color:#00B8D4;">
          <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
        </svg></li>
         <li class="list-group-item" style="border:none;padding-top:10px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16" style="color:#00B8D4;">
          <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
        </svg></li>
       </ul>
       <ul class="list-group">
         <li class="list-group-item "  style="border:none;"><b><p></p><p></p></b></li>
         <li class="list-group-item" style="border:none;padding-top:20px;"><button style="border:none;width:90px;background: #00B8D4;color:white;height:25px;border-radius: 4px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
        </svg><span style="margin-left: 5px;">START</span></button></li>
         <li class="list-group-item" style="border:none;padding-top:5px;"><button style="border:none;width:90px;background: #00B8D4;color:white;height:25px;border-radius: 4px;padding-right: 4px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
        </svg><span style="margin-left: 5px;">START</span></button></li>
         <li class="list-group-item" style="border:none;padding-top:7px;"><button style="border:none;width:90px;background: #00B8D4;color:white;height:25px;border-radius: 4px;padding-right: 4px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
        </svg><span style="margin-left: 5px;">START</span></button></li>
       </ul>
      </div>
      </div>
     </div>
     
  </div>
    <p></p>
    <p></p>
    <p></p>
    
</div> 

   </body>

















</html>
